.bookmark {
    font-family: "Segoe UI Semibold";
    font-size: 18px;
    border-top: #453F35 solid 2px;
    border-bottom: #453F35 solid 2px;
    text-shadow: 0.1rem 0.1rem 0 #bab5a1;
    min-width: 245px;

}
