.sections-main {
    margin-left: 20px;
    width: 535px;

    height: 260px;
}

.sections-main-link {
    vertical-align: top;
    line-height: 0.9;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}

.sections-main-link:hover {
    color: darkorange;
    cursor: pointer;
}