#header {
    height: 50px;
    background: #18130D;
    color: #bab5a1;
}

.header-item {
    font-family: "Segoe UI Light";
    align-self: center;
}

#search-bar{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #453F35;
    width: 100%;
    outline: none;
    color: #bab5a1;
    padding-left: 10px;
}

#search-bar::placeholder {
    color: #bab5a1;
}

#header-profile-bar {
    padding-left: 10px;
    padding-top: 10px;
    height: inherit;
    background: #453F35;

}

#user-photo{
    margin-right: 10px;
    height: 80%;
}

#profile-link{
    float: right;
    font-size: 20px;
    margin-right: 10px;
}