.header {
    height: 50px;
    background: black;
    color: aliceblue;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Yu Gothic UI Light";
    font-size: 25px;
}

.header-item:hover {
    cursor: pointer;
}

.header-logo {
    width: 60px;
}

.header-search {
    font-size: 25px;
    padding-left: 35px;
    background-image: url("https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;

}

.header-item:hover {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: darkorange;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content-item:hover {
    background: #E8EBEF;
}

.dropdown-content-item {

}