.trend-feed {
    height: 240px;
    color: black;
}


@media screen and (max-width: 970px) {

    #play-now-list div:nth-last-child(2) {
        display: none;
    }

}

@media screen and (max-width: 825px) {

    #play-now-list div:nth-last-child(3) {
        display: none;
    }

}

@media screen and (max-width: 680px) {

    #play-now-list div:nth-last-child(4) {
        display: none;
    }

}

@media screen and (max-width: 540px) {

    #play-now-list div:nth-last-child(5) {
        display: none;
    }

}

@media screen and (max-width: 410px) {

    #play-now-list div:nth-last-child(6) {
        display: none;
    }

    #play-now-list div:first-child {
        margin-right: 5px;
    }

}